@media (max-width: 750px) {
  .mapResponsive {
    margin: 20px !important;
    margin-top: 50px !important;
  }
}

.leaflet-container {
  width: 100%;
  height: 67vh;
  position: absolute;
  z-index: -1;
}
